.video-container {
  width: 100%;
  position: relative;
  video {
    width: 100%;
  }
  .video-controls {
    width: 95%;
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
    &.showing {
      opacity: 1;
    }
    align-items: center;
    border-radius: 10px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr auto;
    gap: 10px;
    justify-content: space-between;
    background-color: #0f1117;
    padding: 10px;
    box-sizing: border-box;
    .video-controls__play {
      display: flex;
      justify-content: space-around;
      align-items: center;
      .video-controls__play-btn {
        margin: 0 15px;
      }
      .video-controls__time {
        font-size: 13px;
      }
      .video-controls__volume {
        display: flex;
        align-items: center;
        span {
          margin-left: 10px;
          i {
            font-size: 20px;
          }
        }
      }
    }
  }
}
