extends base

block content
    form(method="POST", enctype="multipart/form-data").edit-profile__form
        label(for="avatar") 프로필 
        input(type="file", id="avatar", name="avatar" accept="image/*")
        input(type="text", name="name", value=loggedInUser.name, placeholder="이름" required) 
        input(type="text", name="email", value=loggedInUser.email, placeholder="이메일" required) 
        input(type="text", name="location", value=loggedInUser.location,placeholder="주소")
        input(type="submit" value="정보 변경")
        if !loggedInUser.socialOnly
            div.edit-profile__password
                a(href="change-password") 비밀번호 변경 &rarr; 
