extends ../base

block content 
    if errorMessage 
        span=errorMessage
    form(method="POST")
        input(type="password", name="currentPassword", placeholder="Current Password")
        input(type="password", name="newPassword", placeholder="New Password")
        input(type="password", name="newPasswordConfirm", placeholder="New Password Confirmation")
        button(type="submit") Change Password
